.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 100px;
}

.search {
  /* width: 85vw; */
  width: 930px;
  padding: 1vh 0 1vh 1vw;
  margin-bottom: 20px;
  margin-right: 150px;
}
